@model HomeViewModel

<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Escape Velocity by HTML5 UP</title>
    <link rel="icon" href="~/images/popcorn_icon.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <script src="~/js/site.js"></script>

</head>
<body>
    <header>
        <h2>CMDB</h2>
        <p><i>- för oss filmälskare</i></p>
        <div class="logo"></div>
    </header>


<div class="dropdown">
    <form id="searchBar" class="searchBar" asp-action="Search" asp-controller="Home" method="get">
        <input type="text" name="searchinput" autocomplete="off" placeholder="Sök film..." />
        <button type="submit" id="searchButton" onsubmit="myFunction()" class="button searchButton"></button>
    </form>
    <div id="myDropdown" class="dropdown-content">
        @if (Model.Search != null)
        {
            @foreach (var movie in Model.SearchDetails)
            {
                <form asp-action="Index" asp-controller="Details" method="get">
                   <a href="@Url.Action("Index", "Details", new {imdbID = movie.imdbID })"><img src="@movie.Poster" /> @movie.Title , @movie.Year </a>
                </form>
            }
        }
    </div>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
    </script>
</div>


    <div class="flexcontainer">
        <div class="flex-picture-left">
            <h2 class="topMovie">Toppfilmen just nu!</h2>
            <a href="@Url.Action("Index", "Details", new {imdbID = Model.Movies[0].imdbID })">
                <img src="@Html.DisplayFor(model => model.Movies[0].Poster)" alt="">
            </a>
            <h2><a href="#"></a>@Html.DisplayFor(model => model.Movies[0].Title), @Html.DisplayFor(model => model.Movies[0].Year) </h2>
            <h3>Likes: @Html.DisplayFor(model => model.TopList[0].numberOfLikes)</h3>
            <h3>Dislikes: @Html.DisplayFor(model => model.TopList[0].numberOfDislikes)</h3>

            <p id="shortPlot">@Model.Movies[0].Plot.Substring(0, 50). . . </p>
            <button onclick="plotFunction()" class="button-style" id="textButton1">Läs mer</button>
            <script>
                function plotFunction() {
                    document.getElementById("shortPlot").innerHTML = "@Model.Movies[0].Plot";
                    var buttonText = document.getElementById("textButton1");
                    buttonText.innerHTML = "Läs mindre";
                }
            </script>

        </div>

    </div>
    <div class="flexcontainer2">
        @for (int i = 0; i < Model.Movies[i].Ratings.Count; i++)
        {
            if (Model.Movies[i].Ratings[i].Source == "Internet Movie Database")
            {
                <div class="flex-picture-left-bottom">
                    <img class="ratingImages" src="~/images/imdb.png" />

                    <p>@Html.DisplayFor(model => model.Movies[i].Ratings[i].Source)</p>
                    <h2>@Html.DisplayFor(model => model.Movies[i].Ratings[i].Value)</h2>
                </div>
            }
            if (Model.Movies[i].Ratings[i].Source == "Rotten Tomatoes")
            {
                <div class="flex-picture-mid-bottom">
                    <img class="ratingImages" src="~/images/tomato.png" />

                    <p>@Html.DisplayFor(model => model.Movies[i].Ratings[i].Source)</p>
                    <h2>@Html.DisplayFor(model => model.Movies[i].Ratings[i].Value)</h2>
                </div>
            }
            if (Model.Movies[i].Ratings[i].Source == "Metacritic")
            {
                <div class="flex-picture-right-bottom">
                    <img class="ratingImages" src="~/images/meta.png" />

                    <p>@Html.DisplayFor(model => model.Movies[i].Ratings[i].Source)</p>
                    <h2>@Html.DisplayFor(model => model.Movies[i].Ratings[i].Value)</h2>
                </div>
            }
        }
    </div>
    <h2 class="topMovies">Andra toppfilmer</h2>
    <div class="flexcontainer3">

        <div class="flex-picture-left-bottom">

            <h2>#2</h2>
            <a href="@Url.Action("Index", "Details", new {imdbID = Model.Movies[1].imdbID })" >
                <img src="@Html.DisplayFor(model => model.Movies[1].Poster)" alt="">
            </a>
            <h2>@Html.DisplayFor(model => model.Movies[1].Title), @Html.DisplayFor(model => model.Movies[1].Year)</h2>

            <h3>Likes: @Html.DisplayFor(model => model.TopList[1].numberOfLikes)</h3>
            <h3>Dislikes: @Html.DisplayFor(model => model.TopList[1].numberOfDislikes)</h3>

            <p id="shortPlot1">@Model.Movies[1].Plot.Substring(0, 50). . . </p>
            <button onclick="plotFunction1()" class="button-style" id="textButton2">Läs mer</button>
            <script>
                function plotFunction1() {
                    document.getElementById("shortPlot1").innerHTML = "@Model.Movies[1].Plot";
                    var buttonText = document.getElementById("textButton2");
                    buttonText.innerHTML = "Läs mindre";
                }
            </script>
        </div>
        <div class="flex-picture-mid-bottom">
            <h2>#3</h2>
            <a href="@Url.Action("Index", "Details", new {imdbID = Model.Movies[2].imdbID })">
                <img src="@Html.DisplayFor(model => model.Movies[2].Poster)" alt="">
            </a>
            <h2>@Html.DisplayFor(model => model.Movies[2].Title), @Html.DisplayFor(model => model.Movies[2].Year)</h2>

            <h3>Likes: @Html.DisplayFor(model => model.TopList[2].numberOfLikes)</h3>
            <h3>Dislikes: @Html.DisplayFor(model => model.TopList[2].numberOfDislikes)</h3>

            <p id="shortPlot2">@Model.Movies[2].Plot.Substring(0, 50) . . .</p>
            <button onclick="plotFunction2()" class="button-style" id="textButton3">Läs mer</button>
            <script>
                function plotFunction2() {
                    document.getElementById("shortPlot2").innerHTML = "@Model.Movies[2].Plot";
                    var buttonText = document.getElementById("textButton3");
                    buttonText.innerHTML = "Läs mindre";
                }
            </script>
        </div>
        <div class="flex-picture-right-bottom">
            <h2>#4</h2>
            <a href="@Url.Action("Index", "Details", new {imdbID = Model.Movies[3].imdbID })">
                <img src="@Html.DisplayFor(model => model.Movies[3].Poster)" alt="">
            </a>
            <h2>@Html.DisplayFor(model => model.Movies[3].Title), @Html.DisplayFor(model => model.Movies[3].Year) </h2>

            <h3>Likes: @Html.DisplayFor(model => model.TopList[3].numberOfLikes)</h3>
            <h3>Dislikes: @Html.DisplayFor(model => model.TopList[3].numberOfDislikes)</h3>

            <p id="shortPlot3">@Model.Movies[3].Plot.Substring(0, 50). . . </p>
            <button onclick="plotFunction3()" class="button-style" id="textButton4">Läs mer</button>
            <script>
                function plotFunction3() {
                    document.getElementById("shortPlot3").innerHTML = "@Model.Movies[3].Plot";
                    var buttonText = document.getElementById("textButton4");
                    buttonText.innerHTML = "Läs mindre";
                }
            </script>
        </div>
    </div>

    <footer>

        <p>Copyright Apollo13</p>
    </footer>


</body>

</html>