@model DetailsViewModel

<!DOCTYPE HTML>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Escape Velocity by HTML5 UP</title>
    <link rel="icon" href="~/images/popcorn_icon.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/details.css" />
    <script src="~/js/site.js" type="module"></script>

</head>
<body>
    <header>
        <h2><a href="@Url.Action("Index", "Home")">CMDB </a></h2>
        <p><i>- för oss filmälskare</i></p>
        <div class="logo"></div>
    </header>

    <div class="flexcontainer">
        <div class="flex-picture-left">
            <h2 class="topMovie">@Html.DisplayFor(model => model.Movie.Title), @Html.DisplayFor(model => model.Movie.Year)</h2>
            <a href="img/photo1.jpg" target="_blank">
                <img src=@Html.DisplayFor(model => model.Movie.Poster) alt="">
            </a>
            <h2><a href="#"></a> </h2>
            @*<h3>Likes: @Html.DisplayFor(model => model.Movie.Toplist.numberOfLikes)</h3>
            <h3>Dislikes: @Html.DisplayFor(model => model.TopList[0].numberOfDislikes)</h3>*@
            <p>@*@Html.DisplayFor(model => model.Movies[0].Plot)*@</p>
            <button id="likeButton" class="likeButton"
                    type="submit" aria-label="Like button">
                <i class="far fa-thumbs-up"></i>

            </button>

            <button id="dislikeButton" class="dislikeButton"
                    type="submit" aria-label="Dislike button">
                <i class="far fa-thumbs-down"></i>
            </button>

        </div>



    </div>
    <div class="flexcontainer2">

        @for (int i = 0; i < Model.Movie.Ratings.Count; i++)
        {
            if (Model.Movie.Ratings[i].Source == "Internet Movie Database")
            {
                <div class="flex-picture-left-bottom">
                    <img class="ratingImages" src="~/images/imdb.png" />

                    <p>@Html.DisplayFor(model => model.Movie.Ratings[i].Source)</p>
                    <h2>@Html.DisplayFor(model => model.Movie.Ratings[i].Value)</h2>
                </div>
            }
            if (Model.Movie.Ratings[i].Source == "Rotten Tomatoes")
            {
                 <div class="flex-picture-mid-bottom">
                   <img class="ratingImages" src="~/images/tomato.png" />

                     <p>@Html.DisplayFor(model => model.Movie.Ratings[i].Source)</p>
                     <h2>@Html.DisplayFor(model => model.Movie.Ratings[i].Value)</h2>
               </div>
            }
            if (Model.Movie.Ratings[i].Source == "Metacritic")
            {
                    <div class="flex-picture-right-bottom">
                       <img class="ratingImages" src="~/images/meta.png" />

                        <p>@Html.DisplayFor(model => model.Movie.Ratings[i].Source)</p>
                        <h2>@Html.DisplayFor(model => model.Movie.Ratings[i].Value)</h2>
                  </div>
            }
        }

        </div>

    <div class="flexcontainer3">
        <div class="plot">
            <h2>Handling</h2>
            <p>@Html.DisplayFor(model => model.Movie.Plot)</p>

        </div>

        <div class="actors">
            <h2>Skådespelare</h2>
            <p>@Html.DisplayFor(model => model.Movie.Actors)</p>
        </div>

        <div class="director">
            <h2>Regissör</h2>
            <p>@Html.DisplayFor(model => model.Movie.Director)</p>
        </div>

    </div>


    <footer>

        <p>Copyright Apollo13</p>
    </footer>


</body>
</html>