@model DetailsViewModel

<!DOCTYPE HTML>
<!--
    Escape Velocity by HTML5 UP
    html5up.net |
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Escape Velocity by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/css/main.css" rel="stylesheet" />

</head>
<body class="homepage is-preload">
    <div id="page-wrapper">

        <!-- Header -->
        <section id="header" class="wrapper">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="index.html">CMDB <i>- för oss filmälskare</i></a></h1>
            

            </div>
            <!-- Nav -->
            <nav id="nav">
                @*@Html.TextBoxFor(m => m.SearchMovie)<br><br> <button>Sök</button>

                <p class="style2">
                    @Html.DropDownListFor(x => x.SelectedMovie, new SelectList(Model.Search, "Value", "Text"))
                </p>*@
            </nav>

        </section>

        <!-- Intro -->
        <section id="intro" class="wrapper style1">
            <div class="title">Toppfilmen just nu</div>
            <div class="container">
                <p class="style1"></p>

                <p class="style2">
                @*<p>@Html.DisplayNameFor(model => model.ImdbID)</p>
                <p>@Html.DisplayFor(model => model.ImdbID)</p>
                <p>@Html.DisplayFor(model => model.NumberOfLikes)</p>
                <p>@Html.DisplayFor(model => model.Title)</p>*@

                <section id="highlights" class="wrapper style2">

                    <div class="container">
                        <div class="row aln-center">
                            <div class="col-4 col-12-medium">
                                <section class="highlight">
                                    <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
                                    <h3><a href="#">Aliquam diam consequat</a></h3>
                                    <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>

                                </section>
                            </div>
                            <div class="col-4 col-12-medium">
                                <section class="highlight">
                                    <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
                                    <h3><a href="#">Nisl adipiscing sed lorem</a></h3>
                                    <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>

                                </section>
                            </div>
                            <div class="col-4 col-12-medium">
                                <section class="highlight">
                                    <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
                                    <h3><a href="#">Mattis tempus lorem</a></h3>
                                    <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>

                                </section>
                            </div>
                        </div>
                    </div>
                </section>

                <p class="style3">

                </p>

            </div>
        </section>

        <!-- Highlights -->
        <section id="highlights" class="wrapper style3">
            <div class="title">Andra topfilmer</div>
            <div class="container">
                <div class="row aln-center">
                    <div class="col-4 col-12-medium">
                        <section class="highlight">
                            <a href="#" class="image featured"><img src="images/movietheater.jpg" alt="" /></a>
                            <h3><a href="#">Toppfilm 2</a></h3>
                            <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                            <ul class="actions">
                                <li><a href="#" class="button style1">Läs mer</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-4 col-12-medium">
                        <section class="highlight">
                            <a href="#" class="image featured"><img src="images/movietheater.jpg" alt="" /></a>
                            <h3><a href="#">Toppfilm 3</a></h3>
                            <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                            <ul class="actions">
                                <li><a href="#" class="button style1">Läs mer</a></li>
                            </ul>
                        </section>
                    </div>
                    <div class="col-4 col-12-medium">
                        <section class="highlight">
                            <a href="#" class="image featured"><img src="images/movietheater.jpg" alt="" /></a>
                            <h3><a href="#">Toppfilm 4</a></h3>
                            <p>Eget mattis at, laoreet vel amet sed velit aliquam diam ante, dolor aliquet sit amet vulputate mattis amet laoreet lorem.</p>
                            <ul class="actions">
                                <li><a href="#" class="button style1">Läs mer</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <section id="footer" class="wrapper">
            <div class="title">The Rest Of It</div>
            <div class="container">
                <header class="style1">
                </header>

                <div id="copyright">
                    <ul>
                        <li>&copy;Copyright Apollo13.</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>
        </section>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dropotron.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>